* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --titulo: #fafafa;
    --texto: #2a2a2a;
    --principalBackground: #182352;
    --secuandarioBackground: #71a8cc;
    --detalles: #4f89af;
}
body {
    color: var(--texto);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main {
    padding-top: 10vh;
}
header {
    margin-bottom: 5vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: auto;
}
.mennu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--principalBackground);
    color: var(--titulo);
    padding: 2vh 5vw;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.mennu h1 {
    font-size: 1.8rem;
}
.content-mennu {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 10px;
}
.mennu-item a {
    color: var(--secuandarioBackground);
    text-decoration: none;
    font-weight: 500;
}
.mennu-item a:hover {
    color: var(--detalles);
    transition: 0.3s;
}
.mennu-item a:active {
    border-bottom: solid 1px var(--detalles);
}
article {
    background-color: var(--secuandarioBackground);
    padding: 30px;
    margin: 20px auto;
    max-width: 50vw;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    line-height: 1.6;
}
img {
    height: auto;
    max-width: 100%;
    margin-bottom: 15px;
    border: 2px solid var(--detalles);
    border-radius: 8px;
    background-color: var(--titulo);
}
h2 {
    margin-bottom: 15px;
    color: #112;
}
ul {
    padding-left: 20px;
    margin-top: 10px;
}
footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #fff;
    background-color: var(--principalBackground);
    margin-top: 40px;
}
blockquote {
    text-align: center;
    font-style: italic;
    padding: 20px;
    margin: 20px auto;
    background-color: #e0ecf7;
    border-left: 5px solid var(--detalles);
}
#contact-form-container {
    background-color: var(--secuandarioBackground);
    padding: 30px;
    margin: 20px auto;
    max-width: 50vw;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    line-height: 1.6;
}
.form-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}
.form-description {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 20px;
}
#contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.form-label {
    font-size: 1rem;
}
.form-input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
}
.form-input:focus {
    border-color: #007bff;
}
.form-submit-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fafafa;
    background-color: #4f89af;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.form-submit-button:hover {
    background-color: #007bff;
    transform: scale(1.05);
}
@media (max-width: 1024px) {
    .content-mennu {
        gap: 15px;
    }
}
@media (max-width: 768px) {
    .mennu {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
    }
    .content-mennu {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        margin-top: 10px;
    }
    .mennu h1 {
        font-size: 1.5rem;
    }
    #contact-form-container, article{
        margin: 20px;
        max-width: none;
    }
    #article_1 {
        margin-top: 20vh;
    }
}
