* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  :root {
    --titulo: #fafafa;
    --texto: #2a2a2a;
    --principalBackground: #182352;
    --secuandarioBackground: #71a8cc;
    --detalles: #4f89af;
    --fondoArticulos:#bfdde9;
    }
  
  body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f5f5f5;
    color: #222;
    line-height: 1.6;
  }
  
  .header {
    background-color: var(--principalBackground);
    color: var(--titulo);
    padding: 10px;
    text-align: center;
  }
 
  .nav{
    background-color: var(--secuandarioBackground);
    padding: 10px;
  }
  .nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    text-decoration: none;
}
.nav li a{
    text-decoration: none;
}
.nav li a, .side li a {
    color: var(--principalBackground);
    font-weight: bolder;
  }
.nav ul li a:hover, .side ul li a:hover{
    color: var(--detalles);
}
.side{
    background: var(--fondoArticulos);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px solid  var(--detalles);
}
.side ul{
    list-style: none;
}
  
img{
    border-radius: 5px;
    width: 100%;
    margin: 20px;
}
#article_1, #article_3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
article{
    margin: 10px;
    box-shadow: 0 0 10px var(--texto);
    border-radius: 5px;
    padding: 20px;
    background-color: var(--fondoArticulos);
}
h2,h3{
    margin: 10px 0px;
    color: var(--principalBackground);
}
p{
    text-align: justify;
    color: var(--texto);
}
.link{
    margin: 10px;
}
blockquote {
    text-align: center;
    font-style: italic;
    padding: 20px;
    margin: 20px auto;
    background-color: #e0ecf7;
    border-left: 5px solid var(--detalles);
}

#contact-form-container {
    background-color: var(--secuandarioBackground);
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--texto);
    line-height: 1.6;
}
.form-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}
.form-description {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 20px;
}
#contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
}
.form-input:focus {
    border-color: #007bff;
}
.form-submit-button {
    padding: 10px 20px;
    font-size: 1rem;
    color:var(--detalles) ;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.form-submit-button:hover {
    color: var(--titulo);
    background-color: var(--detalles);
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #fff;
    background-color: var(--principalBackground);
    margin-top: 40px;
}

@media (min-width: 768px){
    .nav ul{
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media (min-width: 1024px){
    article, .side, #contact-form-container, .link{
        margin:20px ;
    }
    #article_1, #article_3{
        flex-direction: row;
        align-items: center;
    }
    img{
        height: 40vh;
        width: 40vw;
    }
    .side{
        margin:20px 0 ;
        height: 30vh;
        width: 40vw;
        text-align: left;
    }
    #contact-form-container{
        width: 60vw;
        margin: auto;
    }
    main{
        display: flex;
    }
}